<% include header.ejs %>
<div class="container">

	<div class="row">
		<div class="box">
			<div>
				<hr>
				<h2 class="intro-text text-center"><strong>Downloads</strong></h2>
				<hr>

				<form class="form-horizontal">
					<fieldset>

						<div class='form-group'>
							<div class='col-md-6 col-md-offset-3'>
								<p>

								MIDAS v1.1 <a href='/downloads/MIDAS_v1.1.zip'> Download Source </a> <br/><br/>

								MIDAS Manual <a href='/downloads/Manual.txt'> Download </a> <br/> <br/>

								Sample database file <a href='/downloads/Sample.mdb'> Download </a> <br/> <br/>

								Sample input FT2 file for Search <a href='/downloads/Sample.FT2'> Download </a> <br/> <br/>

								Sample output files of Search: meb <a href='/downloads/Search_Result.meb'> Download </a> and AFT2 <a href='/downloads/FilterInputSample.AFT2'> Download </a> <br/><br/>

								The output AFT2 file of Search can be used as input file for Filtering. <a href='/downloads/FilterInputSample.AFT2'> Download </a> <br/> <br/> 

								Sample output file of Filtering <a href='/downloads/VisulizationInputSample.AFT2'> Download </a> <br/> <br/>

								The output AFT2 file of Filtering can be used as input file for Visualization. <a href='/downloads/VisulizationInputSample.AFT2'> Download </a> <br/> <br/> 

								An output sample of visualization (Please provide static visualization results based on the 12 compounds. You can generate these results by the input file <a href='/downloads/good5.txt'> Download </a> <br/> <br/> 

								</p>
								<br/><br/>
								<div>

								</div>
							</div>
						</div>

					</fieldset>
				</form>

			</div>
		</div>
	</div>

</div><!-- /.container -->

<% include footer.ejs %>

<!-- JavaScript -->
<script src="js/jquery-1.10.2.js"></script>
<script src="js/bootstrap.js"></script>
<script>
</script>

</body>
</html>
