<% include header.ejs %>
<div class="container">

	<div class="row">
		<div class="box">
			<div>
				<hr>
				<h2 class="intro-text text-center"><strong>Downloads</strong></h2>
				<hr>

				<form class="form-horizontal">
					<fieldset>

						<div class='form-group'>
							<div class='col-md-6 col-md-offset-3'>
								<p>

								<h4>MIDAS</h4>
								<ul>
									<li>Source Code MIDAS v1.1 <a href='/downloads/MIDAS_v1.1.zip'>Download Source</a></li>
									<li>MIDAS Manual <a href='/downloads/Manual.txt'>Download Manual</a> </li>
									<li>MetaCyc Database Download <a href='/MetaCyc.mdb'>Download MetaCyc.mdb</a> </li>
									<li>Sample Database Download <a href='/Sample.mdb'>Download Sample.mdb</a> </li>
								</ul>
								<br/><br/>
								<h4>Sample Input</h4>
								<ul>
									<li>Sample input FT2 file for Search <a href='/downloads/Sample.FT2'>Search Input Download</a> </li>
									<li>Sample input AFT2 file for Filtering <a href='/downloads/FilterInputSample.AFT2'>Filter Input Download</a> </li>
									<li>Sample input AFT2 file for Visualization <a href='/downloads/VisulizationInputSample.AFT2'>Visualization Input Download </a> </li>
								</ul>
								<br/><br/>
								<h4>Sample Output</h4>
								<ul>
									<li>Sample output files of Search: meb <a href='/downloads/Search_Result.meb'> Download Search (meb)</a> and AFT2 <a href='/downloads/FilterInputSample.AFT2'> Download Search (AFT2)</a> </li>
									<li>Sample output AFT2 file for Filter <a href='/downloads/VisulizationInputSample.AFT2'>Filter Output Download </a> </li>
									<li>Sample visualization output <a href='/results/e429c1c6-a716-4c8d-87ee-8f30a53f8472'>Click Here</a></li>
								</ul>
								<br/><br/>

								</p>
							</div>
						</div>

					</fieldset>
				</form>

			</div>
		</div>
	</div>

</div><!-- /.container -->

<% include footer.ejs %>

<!-- JavaScript -->
<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/bootstrap.js"></script>
<script>
</script>

</body>
</html>
