<% include header.ejs %>
    <div class="container">

      <div class="row">
        <div class="box">
          <div>
            <hr>
            <h2 class="intro-text text-center">Workflow <strong>Inputs</strong></h2>
            <hr>
            <p>
						Users can submit jobs for either Searching, Filtering or Visualizing metabolites. Based on the user selection,
						a set of inputs will be collected before the job is submitted for execution.  
						</p>
						<hr>
						<form id='jobInputs' class="form-horizontal" enctype="multipart/form-data" method='post' action='/job'>
							<fieldset>

								<!-- Text input-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="name">Name</label>  
									<div class="col-md-6">
										<input id="name" name="name" type="text" placeholder="Name" class="form-control input-md" required="" value='Guru'>
										<span class="help-block">Please enter your name</span>  
									</div>
								</div>

								<!-- Text input-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="email">Email</label>  
									<div class="col-md-6">
										<input id="email" name="email" type="text" placeholder="Email" class="form-control input-md" required="" value='gku@ornl.gov'>
										<span class="help-block">Please enter you email, used for tracking your job</span>  
									</div>
								</div>

								<!-- Text input-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="org">Organization</label>  
									<div class="col-md-6">
										<input id="org" name="org" type="text" placeholder="Organization" class="form-control input-md" value='ORNL'>
										<span class="help-block">Please enter your school or organization</span>  
									</div>
								</div>


								<hr>

								<!-- Select Basic -->
								<div class="form-group">
									<label class="col-md-3 control-label" for="jobType">Job Type</label>
									<div class="col-md-6">
										<select id="jobType" name="jobType" class="form-control">
											<option value='Search' >Search</option>
											<option value='Filter' >Filter</option>
											<option value='Visualize' >Visualize</option>
											<option value='FilterVisualize'>Filter and Visualize</option>
											<option value='SearchFilter'>Search and Filter</option>
											<option value='SearchFilterVisualize'>Search, Filter and Visualize</option>
										</select>
									</div>
								</div>
								<hr>

								<div id='searchParams'> <!-- Search parameters -->

									<!-- Select Basic -->
									<div class="form-group">
										<label class="col-md-3 control-label" for="fileType">MS/MS Dataset Type</label>
										<div class="col-md-6">
											<select id="fileType" name="fileType" class="form-control">
												<option value="FT2">FT2</option>
												<option value="mzML">mzML</option>
											</select>
										</div>
									</div>

									<!-- File Button --> 
									<div class="form-group">
										<label class="col-md-3 control-label" for="inputFile">MS/MS Dataset Input File</label>
										<div class="col-md-4">
											<input id="inputFile" name="inputFile" class="input-file" type="file" required='' >
										</div>
									</div>

									<!-- Select Basic -->
									<div class="form-group">
										<label class="col-md-3 control-label" for="database">Metabolite Database</label>
										<div class="col-md-6">
											<select id="databaseType" name="database" class="form-control">
												<option value="MetaCyc">MetaCyc</option>
												<option value="Custom">Custom</option>
											</select>
											<span class="help-block">MetaCyc file used for this search <a href='/MetaCyc.mdb'> Download File </a></span>  
										</div>
									</div>

									<!-- File Button --> 
									<div id='databaseInput' class="form-group" style='display:none;'>
										<label class="col-md-3 control-label" for="databaseInputFile">Custom Database</label>
										<div class="col-md-4">
											<input id="inputFile" name="databaseInputFile" class="input-file" type="file"  >
										</div>
									</div>

									<!-- Select Basic -->
									<div class="form-group">
										<label class="col-md-3 control-label" for="polarity">Polarity</label>
										<div class="col-md-6">
											<select id="fileType" name="polarity" class="form-control">
												<option value="positive">positive</option>
												<option value="negative">negative</option>
											</select>
										</div>
									</div>

									<!-- Text input-->
									<div class="form-group">
										<label class="col-md-3 control-label" for="chargeState">Charge State</label>  
										<div class="col-md-6">
											<input id="param1" name="chargeState" type="text" value='1' readonly class="form-control input-md">
											<span class="help-block">Please enter Charge State</span>  
										</div>
									</div>

									<!-- Text input-->
									<div class="form-group">
										<label class="col-md-3 control-label" for="massWindow">Parent Mass Window</label>  
										<div class="col-md-6">
											<input id="param1" name="massWindow" type="text" value='0' readonly class="form-control input-md">
											<span class="help-block">Please enter Parent Mass Window</span>  
										</div>
									</div>

									<!-- Multiple Checkboxes (inline) -->
									<div class="form-group">
										<label class="col-md-3 control-label" for="positiveMass">Positive Ion Fragment Mass Windows</label>
										<div class="col-md-6">
											<label class="checkbox-inline" for="positiveMass-0">
												<input type="checkbox" name="positiveMass" id="positiveMass-0" value="-1" >
												-1
											</label>
											<label class="checkbox-inline" for="positiveMass-1">
												<input type="checkbox" name="positiveMass" id="positiveMass-1" value="0" checked >
												0
											</label>
											<label class="checkbox-inline" for="positiveMass-2">
												<input type="checkbox" name="positiveMass" id="positiveMass-2" value="1" checked >
												1
											</label>
											<label class="checkbox-inline" for="positiveMass-3">
												<input type="checkbox" name="positiveMass" id="positiveMass-3" value="2" checked >
												2
											</label>
											<label class="checkbox-inline" for="positiveMass-4">
												<input type="checkbox" name="positiveMass" id="positiveMass-4" value="3">
												3
											</label>
										</div>
									</div>

									<!-- Multiple Checkboxes (inline) -->
									<div class="form-group">
										<label class="col-md-3 control-label" for="negativeMass">Negative Ion Fragment Mass Windows</label>
										<div class="col-md-6">
											<label class="checkbox-inline" for="negativeMass-0">
												<input type="checkbox" name="negativeMass" id="negativeMass-0" value="-3">
												-3
											</label>
											<label class="checkbox-inline" for="negativeMass-1">
												<input type="checkbox" name="negativeMass" id="negativeMass-1" value="-2" checked >
												-2
											</label>
											<label class="checkbox-inline" for="negativeMass-2">
												<input type="checkbox" name="negativeMass" id="negativeMass-2" value="-1" checked >
												-1
											</label>
											<label class="checkbox-inline" for="negativeMass-3">
												<input type="checkbox" name="negativeMass" id="negativeMass-3" value="0" checked >
												0
											</label>
											<label class="checkbox-inline" for="negativeMass-4">
												<input type="checkbox" name="negativeMass" id="negativeMass-4" value="1">
												1
											</label>
										</div>
									</div>



									<!-- Text input-->
									<div class="form-group">
										<label class="col-md-3 control-label" for="parentIon">Mass Tolerance Parent Ion</label>  
										<div class="col-md-6">
											<input id="param1" name="parentIon" type="text" class="form-control input-md" required='' value='0.01'>
											<span class="help-block">Please enter Mass Tolerance Parent Ion</span>  
										</div>
									</div>

									<!-- Text input-->
									<div class="form-group">
										<label class="col-md-3 control-label" for="fragmentIon">Mass Tolerance Fragment Ion</label>  
										<div class="col-md-6">
											<input id="param1" name="fragmentIon" type="text" class="form-control input-md" required='' value='0.01'>
											<span class="help-block">Please enter Mass Tolerance Fragment Ion</span>  
										</div>
									</div>

									<!-- Select Basic -->
									<div class="form-group">
										<label class="col-md-3 control-label" for="breakRings">Break Rings</label>
										<div class="col-md-6">
											<select id="breakRings" name="breakRings" class="form-control">
												<option>true</option>
												<option>false</option>
											</select>
										</div>
									</div>

									<!-- Select Basic -->
									<div class="form-group">
										<label class="col-md-3 control-label" for="fragmentationDepth">Fragmentation Depth</label>
										<div class="col-md-6">
											<select id="fragmentationDepth" name="fragmentationDepth" class="form-control">
												<option value="2">2</option>
												<option value="3" selected >3</option>
											</select>
										</div>
									</div>

									<!-- Text input-->
									<div class="form-group">
										<label class="col-md-3 control-label" for="procs">Number of Processors</label>  
										<div class="col-md-6">
											<input id="param1" name="procs" type="text" class="form-control input-md" value='4' readonly required=''>
											<span class="help-block">Please enter Number of Processors</span>  
										</div>
									</div>
								</div> <!-- End of search parameters -->


								<div id='filterParams' style='display:none;'> <!-- Filter parameters -->
									<!-- File Button --> 
									<div class="form-group" id='inputForFilter'>
										<label class="col-md-3 control-label" for="filterInputFile">MS/MS Dataset Input File</label>
										<div class="col-md-4">
											<input id="filterInputFile" name="filterInputFile" class="input-file" type="file" required='' >
										</div>
									</div>

									<!-- Text input-->
									<div class="form-group">
										<label class="col-md-3 control-label" for="scoreThre">Score Threshold</label>  
										<div class="col-md-6">
											<input id="param1" name="scoreThre" type="text" value='0.2' class="form-control input-md" required=''>
											<span class="help-block">Please enter Score Threshold</span>  
										</div>
									</div>

									<!-- Text input-->
									<div class="form-group">
										<label class="col-md-3 control-label" for="spectralCountThre">Spectral Count Threshold</label>  
										<div class="col-md-6">
											<input id="param1" name="spectralCountThre" type="text" value='3' class="form-control input-md" required=''>
											<span class="help-block">Please enter Spectral Count Threshold</span>  
										</div>
									</div>

									<!-- Text input-->
									<div class="form-group">
										<label class="col-md-3 control-label" for="explainPeakThre">Explain Peaks Threshold</label>  
										<div class="col-md-6">
											<input id="param1" name="explainPeakThre" type="text" value='5' class="form-control input-md" required=''>
											<span class="help-block">Please enter Explain Peaks Threshold</span>  
										</div>
									</div>

									<!-- Text input-->
									<div class="form-group">
										<label class="col-md-3 control-label" for="deltaThre">Delta Threshold</label>  
										<div class="col-md-6">
											<input id="param1" name="deltaThre" type="text" value='0.02' class="form-control input-md" required=''>
											<span class="help-block">Please enter Delta Threshold</span>  
										</div>
									</div>

								</div> <!-- End Filter parameters -->

								<div id='visualizationParams' style='display:none;'> <!-- visualization parameters -->
									<div class="form-group" id='inputForViz'>
										<label class="col-md-3 control-label" for="vizInputFile">MS/MS Dataset Input File</label>
										<div class="col-md-4">
											<input id="vizInputFile" name="vizInputFile" class="input-file" type="file" required='' >
										</div>
									</div>

								</div> <!-- End visualization parameters -->


								<!-- Button -->
								<div class="form-group">
									<div class="col-md-4 col-md-offset-5">
										<button id="execJob" name="execJob" class="btn btn-primary">Submit Job</button>
									</div>
								</div>

							</fieldset>
						</form>

          </div>
        </div>
      </div>

    </div><!-- /.container -->

		<% include footer.ejs %>

<!-- JavaScript -->
<script src="js/jquery-1.10.2.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/bootstrap.js"></script>
<script>
	$('#jobInputs').validate();
	$('#databaseType').on('change', function() {
			if ( this.value === 'Custom' ) {
			$('#databaseInput').show();
			};
	});
	$('#jobType').on('change', function() {
			if ( this.value === 'Search' ) {
				$('#searchParams').show();
				$('#filterParams').hide();
				$('#visualizationParams').hide();
			} else if ( this.value === 'Filter') {
				$('#searchParams').hide();
				$('#filterParams').show();
				$('#visualizationParams').hide();
			} else if ( this.value === 'Visualize') {
				$('#searchParams').hide();
				$('#filterParams').hide();
				$('#visualizationParams').show();
			} else if ( this.value === 'SearchFilterVisualize') {
				$('#searchParams').show();
				$('#filterParams').show();
				$('#visualizationParams').show();
				$('#inputForFilter').hide();
				$('#inputForViz').hide();
			} else if ( this.value === 'SearchFilter') {
				$('#searchParams').show();
				$('#filterParams').show();
				$('#visualizationParams').hide();
				$('#inputForFilter').hide();
			} else if ( this.value === 'FilterVisualize') {
				$('#searchParams').hide();
				$('#filterParams').show();
				$('#visualizationParams').show();
				$('#inputForViz').hide();
			}
			
	});
</script>

</body>
</html>
