<% include header.ejs %>
<div class="container">

	<div class="row">
		<div class="box">
			<div>
				<hr>
				<h2 class="intro-text text-center"><strong>Locate</strong> your job </h2>
				<hr>

				<form id='locate' class="form-horizontal" enctype="multipart/form-data" method='post' action='/locate'>
					<fieldset>

						<div class='form-group'>
							<div class='col-md-6 col-md-offset-3'>
								<p>
								Have you previously submitted job with us ? If yes, please enter your job id that was emailed to you in the below field and click the button.
								</p>
								<p>
								If you havent' submitted a previous job with us, you can submit one by clicking <a href='/job'>here</a>.
								</p>
								<br/><br/>
							</div>
						</div>

						<div class='form-group'>
							<div class='col-md-6 col-md-offset-3'>

								<p class="input-group">
								<span class="input-group-addon">MIDAS Job Id</span>
									<input type="text" class="form-control input-lg" name="id" placeholder="" />
									</p>
									<p class="help-block text-center"><small>We'll try to locate your job. Hang tight!</small></p>
									<p class="text-center">
									<button type="submit" class="btn btn-success btn-lg">Fetch the Job Details</button>
									</p>
								</span>
							</div>
						</div>


					</fieldset>
				</form>

			</div>
		</div>
	</div>

</div><!-- /.container -->

<% include footer.ejs %>

<!-- JavaScript -->
<script src="js/jquery-1.10.2.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/bootstrap.js"></script>
<script>
	$('#jobInputs').validate();
</script>

</body>
</html>
